<section class="mt-4">
    <h2 class="text-center">
        Tecnologías
    </h2>
    <ul class="list-unstyled d-flex flex-wrap justify-content-center my-2">
        <li class="my-2 mx-2 li--item"><img class="img--skills" src="../../../assets/html.png" alt="Logo HTML"></li>
        <li class="my-2 mx-2 li--item"><img class="img--skills" src="../../../assets/css.png" alt="Logo CSS"></li>
        <li class="my-2 mx-2 li--item"><img class="img--skills" src="../../../assets/js.png" alt=""></li>
        <li class="my-2 mx-2 li--item"><img class="img--skills" src="../../../assets/reactjs.png" alt="Logo React"></li>
        <li class="my-2 mx-2 li--item"><img class="img--skills" src="../../../assets/angular.png" alt="Logo Angular"></li>
        <li class="my-2 mx-2 li--item"><img class="img--skills" src="../../../assets/boostrapp.png" alt="Logo Boostrap"></li>
        <li class="my-2 mx-2 li--item"><img class="img--skills" src="../../../assets/node.png" alt="Logo Node"></li>
        <li class="my-2 mx-2 li--item"><img class="img--skills" src="../../../assets/sql.png" alt="Logo SQL"></li>
    </ul>
</section>
